body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    
}


.content{
    text-align: center;
}
.primg{
    margin: 30px 0px 51px 0px;
    background: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
}
.primg:hover{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content .name{
    margin-bottom: 5px;
    border: none;
    
}
.content>h2{
    color: rgb(82, 80, 80);
    margin-top: 5px;
}

.content h1{
    color: rgb(82, 80, 80);
    margin: 15px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;

}


.menu{
    display: flex;
    height: 200px;
    flex-direction: column;
    padding: 0;
    margin-bottom: 100px;
}
.menu>li{
    color: white;
    display: flex;
    border-bottom: 2px solid white;
    height: 50px;
    align-items: center;
    background: gray;
    padding-left: 15px;
}

.menu a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

i{
    height: 15px;
    padding: 10px;
    color: white;
    
}

.menu a:hover{
    padding-right: 30px;
    
    
}

#lebnslauf-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#lebenslauf{
    margin-bottom: 100px;
}
#lebnslauf-menu>li{
   
    padding-bottom: 15px;
}

span{
    float: left;
}





.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }





  
.fa-twitter {
    background: #55ACEE;
    color: white;
  }



#port{
    margin-bottom: 100px;
}

#port img{
      width: 350px;
      height: 300px;
      text-align: center;
  }


  
#skills li {
      list-style: none;
      display: flex;
      flex-direction: column;
      
      
  }

#skills {
    text-align: center;
    margin-bottom: 100px;
}

#skills ul{
    padding-left: 10px;
}

#skills h3{
    float: left;
    width: 50px;
    margin-bottom: 3px;
}
  .bar{
      background: white;
      width: 350px;
      
      height: 5px;
      border: 1px solid rgba(0, 0 , 0 , 0.3);
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 0 10px #2187e7b3;
  }

.bar div{
      height: 5px;
      float: left;
      background: #2187e7;
  }

.html{
      width: 95%;
      animation: html 2s;
  }

.css{
      width: 90%;
      animation: css 2s;
  }

.java{
      width: 50%;
      animation: java 2s;
  }


  .icons{
      display: flex;
      flex-direction: column;
      margin-left: 15px;
  }

  .icons .fas{
      width: 40px;
      height: 40px;
      background: #2187e7;
      color: white;
      margin: 10px;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 15%;
      font-size: 50px;
      margin: 15px 2px 15px 15px;
  }

  .icons .fab{
    width: 40px;
      height: 40px;
      background: #2187e7;
      color: white;
      margin: 10px;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 15%;
      font-size: 50px;
      margin: 15px 2px 15px 15px;
  }

  .icons h4{
      padding: 10px 10px 10px 5px;
      margin:  10px 10px 10px 5px;
      width: 50px;
  }
 .icons div{
     display: flex;
     flex-direction: row;
 }



@media(min-width:480px){
    .menu{
        height: 70px;
        background: gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu li{
        border: none;

    }
    .icons > div{
       margin-left: 700px;
    }
    #port img{
        width: 800px;
        height: 600px;
        text-align: center;
    }
    .bar{
        margin-left: 600px;
    }
    #skills h3{
        margin-left: 600px;
    }
    #lebnslauf-menu>li{
        text-align: center;
        margin-left: 600px;
    }

}
  

  
